@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

:root {
    --cor-vermelho: #D63827;
    --cor-cinza-escuro-principal: #212529;
    --cor-cinza-escuro: #343A40;
    --cor-cinza-claro: #4E5861;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    height: 100vh;
    box-sizing: border-box; /*define que nada vai ultrapassar os limites do body*/;
}

.body-formacao {
    height: auto;
}

/* CABEÇALHO */

.cabecalho {
    background-color: var(--cor-cinza-escuro-principal);
    height: 9vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 2rem;
}

.cabecalho__titulo {
    text-align: center;
    color: var(--cor-vermelho);
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.cabecalho__titulo span {
    color: var(--cor-branco);
}

.cabecalho__menu ul{
    list-style: none;
    justify-content: flex-end;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.cabecalho__menu__links {
    text-decoration: none;
    color: var(--cor-branco);
}

.cabecalho__menu__links-selecionado, .cabecalho__menu__links:hover{
    color: var(--cor-vermelho);
}

/* PRINCIPAL */

main {
    padding: 70px 287px;
    background-color: var(--cor-cinza-escuro);
}

.main-formacao {
    padding: 0 162px;
    background-color: var(--cor-cinza-escuro);
}   

.principal {
    width: 100%;
    height: 640px;
    background-color: var(--cor-cinza-escuro-principal);
    flex-direction: column;
    display: flex;
    justify-content: center;
    border: solid 2px var(--cor-branco);
    border-radius: 10px;
}

.principal__perfil{
    display: flex;
    flex-direction: row;
    gap: 480px;
}

.principal__perfil-alinhado {
    display: flex;
    justify-content: center; 
    gap: 0;
}

.principal__perfil-formacao {
    padding-top: 43px;
}

.principal__perfil__bio, .principal__perfil__bio-alinhado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 68px;
    margin-bottom: 16px;
    margin-top: 67px;

    color: var(--cor-branco);
}

.principal__perfil__bio-alinhado {
    
    margin: 0;
    margin-bottom: 16px;
}

.principal__perfil__bio__foto-perfil {
    width: 232px; /*Defina a largura desejada*/
    height: 232px; /*Defina a altura desejada, igual à largura*/
    border-radius: 50%; /*Arredonda as bordas, criando o círculo*/
    object-fit: cover;
    border: solid var(--cor-vermelho) 3px;
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
}

.principal__perfil__imgs{
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 63px;
    gap: 83px;
}

.principal__perfil__imgs__img {
    width: 206px;
    height: 206px;
}

.principal__paragrafo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--cor-branco);
    margin-bottom: 27px;
}

.principal__paragrafos-sobre{
    padding: 0 170px;
    text-justify: auto;
}

.principal__paragrafos__paragrafo-sobre {
    color: var(--cor-branco);
    font-size: 24px;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    width: 100%;
    background-color: #D63827;
}

a {
    text-decoration: none;
}

.principal__buttons {
    height: 206px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 109px;
}

.principal__buttons__button {
    height: 68px;
    width: 155px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-cinza-escuro);
    border: solid 2px var(--cor-preto);
    color: var(--cor-branco);
    border-radius: 10px;
    cursor: pointer;
    gap: 11px;
}

.principal__buttons__button:hover {
    border: solid 2px var(--cor-vermelho);
}

.principal__buttons__button__img {
    width: 28px;
}

.principal__formacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

.principal__formacoes__card {
    display: flex;
    flex-direction: column;
    width: 687px;
    height: 732px;
    border: 2px solid var(--cor-branco);
    align-items: center;
    background-color: #212529;
    margin-top: 80px;
}

.principal__formacoes__card__img {
    width: 595px;
    height: 291px;
    object-fit: cover;
    margin-top: 53px;
}

.principal__formacoes__card__paragrafo {
    text-align: center;
    margin: 0 24px;
    margin-top: 22px;
    font-size: 20px;
    color: var(--cor-branco);
}

.principal__caixas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
    text-align: center;
}

.principal__caixas__formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
    text-align: center;
}

.principal__caixas__titulo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.principal__caixas__titulo > h2 {
    font-size: 40px;
    color: var(--cor-branco);
    font-weight: 400;
    text-shadow: 2px 2px black;
}

.principal__caixas__formulario > label {
    display: flex;
    justify-content: left;
    font-size: 20px;
    color: var(--cor-branco);
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}

#input {
    height: 20px;
    font-size: 18px;
    padding: 16px 15px;
    margin-bottom: 25px;
    background-color: #D9D9D9;
    border: 2px solid var(--cor-preto);
    border-radius: 10px;
}

#input:focus, textarea:focus {
    outline: none;
    border: 2px solid var(--cor-vermelho);

}

textarea {
    height: 373px;
    font-size: 18px;
    padding: 16px 15px;
    resize: none;
    background-color:#D9D9D9 ;
    border-radius: 10px;
    border: 2px solid var(--cor-preto);
}

.principal__caixas__button {
    margin-top: 30px;
    width: 110px;
    height: 45px;
    font-size: 20px;
    align-self:center;
    background-color: var(--cor-cinza-escuro-principal);
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    cursor: pointer;
    border-radius: 10px;
}

.principal__caixas__button:hover {
    background-color: var(--cor-vermelho);
    border: none;
}

/* FOOTER */

.footer {
    background-color: var(--cor-preto);
    width: auto;
    height: 8vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer__paragrafo__span {
    color: var(--cor-vermelho);
}